<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title> {{ site.name }} </title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <script type="text/javascript">
      window.MathJax = {
        tex2jax: {
          inlineMath: [ ['$','$'], ],
          processEscapes: true
        },
        jax: ["input/TeX","output/HTML-CSS"],
        extensions: ["tex2jax.js","MathMenu.js","MathZoom.js"],
        TeX: {
          extensions: ["AMSmath.js","AMSsymbols.js","autobold.js","noErrors.js","noUndefined.js"],
          equationNumbers: { autoNumber: "AMS", },
          Macros: {
            arctanh: "\\mathop{\\rm arctanh}",
            Rotated: ["{#1}'",1], //"\\breve",
            defined: ":=",
            D: "\\mathfrak{D}",
            co: ["\\bar{#1}", 1],
            abs: ["\\left\\lvert{#1}\\right\\rvert", 1],
            basis: ["\\boldsymbol{#1}", 1],
            quat: ["\\mathbf{#1}", 1],
            rotor: ["\\mathbf{#1}", 1],
            rthetaphi: "\\mathbf{R}_{(\\vartheta,\\varphi)}",
            quatcomponent: ["{#1}_{#2}", 2],
            quatcomponentco: ["\\co{#1}_{#2}", 2],
            quatpart: ["{#1}_{#2}", 2],
            emprime: "m'",
            em: "m",
          },
        },
      };
    </script>
    <script type="text/javascript"
            src="http://cdn.mathjax.org/mathjax/latest/MathJax.js">
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Spherical functions</h1>
        <p class="header">Python/numba package for evaluating and
        transforming Wigner $\mathfrak{D}$ matrices and spin-weighted
        spherical harmonics directly in terms of quaternions, and in
        more standard forms</p>

        <ul>
          <li><a class="buttons github" href="https://github.com/moble/spherical_functions">View On GitHub</a></li>
        </ul>

        <p class="header">Project maintained by <a class="header name" href="https://github.com/moble">moble</a></p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>Hosted on <a href="http://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
  </body>
</html>
